{% extends "base.html" %}

{% block content %}
    <div class="jumbotron bg-1 text-center">
        <h1 class="text-center">{{ photo.user }}</h1>
    </div>
    <div class="container-fluid gallery">
        <div class="row content">
            <div class="parent center-block">
                <div class="thumbnail">
                    <img src="{{ photo.image.url }}" class="img-responsive margin"/>
                    <div class="caption text-center">
                        <p><a href="/user/{{ photo.user }}">{{ photo.user }} </a>,
                            {{ photo.creation_date }}
                            <button class="likes btn btn-default" type="button" data-photo="{{ photo.id }}">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span class="button_text">{% if photo.like_dislike_user == False %}Polub
                                    zdjęcie{% else %}Lubisz to zdjęcie
                                {% endif %}</span>
                            </button>
                            <strong class="like_count">{{ photo.quantity_of_likes }}</strong>
                        </p>
                    </div>
                </div>

                <h4>Komentarze:</h4>
                <div class="row">
                    <div id="comments" class="col-sm-12">

                        <textarea id="comment-input" rows="4" cols="72" placeholder="Comment..."></textarea><br><br>
                        <button data-prod="{{ photo.id }}" id="comment"
                                class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-comment"></span>
                            Add comment
                        </button>
                        <div class="new"></div>
                        {% for comment in comments %}
                            <div>
                                <hr>
                                <div class="editing-comment">{{ comment.content }}</div>
                                {% if user.is_authenticated and comment.author == user %}
                                    <button class="delete-button btn btn-default btn-sm custom" type="button"
                                            style="float: right"
                                            data-comment="{{ comment.id }}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        <small>delete</small>
                                    </button>
                                {% endif %}
                                {% if user.is_authenticated and comment.author == user %}
                                    <button class="edit-button btn btn-default btn-sm custom" type="button"
                                            style="float: right"
                                            data-comment="{{ comment.id }}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <small class="edit-button-text">edit</small>
                                    </button>
                                {% endif %}
                                <p> {{ comment.author }},
                                    <small>  {{ comment.date | date:"d/m/Y G:i" }}</small>
                                </p>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}